<% component = "holler-block" %>

<% if defined?(background_image) && !background_image.nil? %>

  <% locals[:modifiers] = Array(locals[:modifiers]) << "backgrounded" %>

  <div class="<%= component_classes(component, locals) %>" style="background-image: url('<%= background_image %>');">
<% else %>
  <div class="<%= component_classes(component, locals) %>">
<% end %>

    <section class="holler-block__section">
      <%= partial :"groups/title-block", locals: {
        titles: [
          {modifiers: "leader", text: locals.fetch(:leader, "")},
          {text: title[:text]},
          {modifiers: "subtitle", text: locals.fetch(:subtitle, "")}
        ],
        body: {text: title[:body]}
      } %>
    </section>

    <section class="holler-block__section">
      <%= partial :"groups/cta-block", locals: {
        modifiers: "inline",
        ctas: ctas.each { |cta| cta[:modifiers] ? cta : cta[:modifiers] = "horizontal" }
      } %>
    </section>
  </div>
