<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "MA Style Guide" %></title>

    <!-- use Typekit for fonts -->
    <script src="//use.typekit.net/snz4plr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag "fonts" %>
    <%= stylesheet_link_tag "screen", "print", "kerning" %>
    <!--[if IE]>
        <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- pre-body scripts -->
    <%= javascript_include_tag  "hooks" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="page">
      <%= yield %>
    </div>

    <!-- other scripts -->
    <%= javascript_include_tag  "all" %>
  </body>
</html>
