<% component ||= "media-component" %>

<div class="<%= component_classes locals.fetch(:parent, nil), component, locals.fetch(:modifiers, []) %>">
  <div class="container">
  
    <section class="media-component__section">
      <%= partial 'components/atoms/title-block', locals: {
        parent: "media-component__section",
        modifiers: ["left"],
        titles: [
          {
            modifiers: ["leader"],
            text: "Meet"
          },
          {
            text: "Our Grads"
          }
        ],
        body: {
          text: "We&rsquo;ve graduated over 300 beginners into their dream jobs as junior developers. Some were looking for a career change, others to define themselves."
        }
      } %>
    </section>
    <section class="media-component__section">
      <div class="slider-block">
        <%= partial "components/atoms/image-block", locals: {
            parent: "slider-block",
            modifiers: ["full", "centered"],
            images: [
              {
                modifiers: ["portrait"],
                src: "images/test-assets/test-grad.png",
                alt: "A test graduate, looking at the camera."
              }
            ],
            caption: {
              modifiers: ["right"],
              bodies: [
                { text: "Firstname Lastname" },
                { text: "Cohort of 2015" },
                { text: "Now a Junior Developer at CompanyName" }
              ]
            }
          } %>
        <%= partial "components/atoms/image-block", locals: {
            parent: "slider-block",
            modifiers: ["full", "centered"],
            images: [
              {
                modifiers: ["portrait"],
                src: "http://placehold.it/400x600&text=400x600",
                alt: "A gray box with the text '400x600'"
              }
            ],
            caption: {
              modifiers: ["right"],
              bodies: [
                { text: "Firstname OtherName" },
                { text: "Cohort of 2015" },
                { text: "Now a Junior Developer at OtherCompanyName" }
              ]
            }
          } %>
      </div>
    </section>
    
    <section class="media-component__section">
      <%= partial "components/atoms/cta-block", locals: {
        parent: "media-component__section",
        modifiers: ["left"],
        ctas: [
          { 
            text: "Read Grad Stories",
            link: "#",
            modifiers: ["horizontal"]
          }
        ]
      } %>
    </section>

  </div>
</div>