<% component = "input-block" %>

<fieldset class="<%= component_classes(component, locals) %>">

  <% if defined?(title) %>
    <legend class="title form-block__fieldset__title"><%= title %></legend>
  <% end %>

  <% inputs.each do | input | %>

    <% if input[:label] %>
      <label class="label input-block__label" for="<%= input[:name] %>">
        <%= input[:label] %>
      </label>
    <% end %>

    <%= partial :"atoms/input", locals: {
      modifiers: input[:modifiers],
      input_type: input[:input_type],
      name: input[:name],
      placeholder: input[:placeholder]
    } %>

  <% end %>
</fieldset>

