<% # Includes _image-block group, and _title, _body, _opt-title atoms %>
<% component = "title-block" %>

<div class="<%= component_classes(component, locals) %>">

  <% if locals[:image] %>

    <%= partial 'groups/image-block', locals: {
        parent: component,
        modifiers: "centered",
        images: [
          image.merge(parent: component)
        ]
    } %>

  <% end %>

  <% titles.each do | title | %>

    <%= partial 'atoms/title', locals: {
      parent: component,
      text: title[:text],
      modifiers: title[:modifiers]
    } %>

  <% end %>

  <% if locals[:body] %>

    <%= partial 'atoms/body', locals: {
      parent: component,
      text: body[:text],
      modifiers: body[:modifiers]
    } %>

  <% end %>

  <% if locals[:blockquote] %>

    <%= partial 'atoms/blockquote', locals: {
      parent: component,
      text: blockquote[:text],
      modifiers: blockquote[:modifiers]
    } %>

  <% end %>

</div>


